body{
    background-color: #210202;
}
html {
    scroll-behavior: smooth;
}
.nav{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    justify-content:space-evenly;
    background-color: #3e2d26;
    border-radius: 20px;
    margin-left: 200px;
    gap: 200px;
    color: aliceblue;
    flex-wrap: wrap;

}
.header{
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
    color: white;
}
@media(max-width:1000px){
    .header{
        margin-top: 10px;
        justify-content: space-around;
    }
    .container{
        display: flex;

    }
}
.menu-checkbox {
    display: none;
}

.menu-icon {
    display: none; 
    font-size: 24px;
    color: white;
    cursor: pointer;
}
@media (max-width: 980px) {
    .nav a {
        display: none; 
    }
    
    .menu-icon {
        display:inline-block; 
    }

    .menu-checkbox:checked + .menu-icon + a,
    .menu-checkbox:checked + .menu-icon + a + a,
    .menu-checkbox:checked + .menu-icon + a + a + a,
    .menu-checkbox:checked + .menu-icon + a + a + a + a {
        display: block;
        background-color: #3e2d26;
        color: aliceblue;
        padding: 10px;
        text-align: center;
        margin: 5px 0;
        border-radius: 10px;
        width: 100%;
    }
}   
.nav .home{
    color:#9a461b;
}
.card_title{
    background-color: #3e2d26;
    width: 180px;
    padding: 2px;  
    border-radius: 10px;
}

.header span{
    color:#9a461b;
    font-size: 40px;
}
.container{
    padding-left: 100px;
}
.card-img-top{
    width: 500px;
    height: 500px;
    border-radius: 40px;
}
.card_image{
    color: white;
    display: flex;
    margin: 100px;
    
    flex-wrap: wrap;
}
.text_image{
    width:450px;
    margin: 50px;
    flex-wrap: wrap;
}
.btn{
    background-color: #9a461b;
    text-decoration:solid;
    color: white;
    padding: 10px;
    border-radius: 10px;    
}
.btn:hover{
    background-color: bisque;
    color: black;
}
.card_text{
    font-size: 100px;
}
.home,
.about,
.experience,
.contact
{
    color: white;
    margin-top: 10px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:solid;
}
.about_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about_container{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
}
.text_card_new{
    display: grid;
    grid-template-rows: 50px;
    color: white;
    padding: 30px;
    gap: 20px;
    max-width: 60%;
}

.definetion {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}
@media (max-width: 1000px) {
    .definetion {
        grid-template-columns: 1fr; 
        gap: 1px; 
    }
    .definetion p ,h2{
        font-size: 18px; 
    }
}
@media (max-width: 1252px) {
    .nav{
        max-width: 50%;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}
.row_right{
    margin-left: 100px;
}
.larg{
    color: #2a9de0;
}
.font_solid{
    font-size: 20px;
    color: chocolate;
}
.container_foot{
    background-color:#3e2d26;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns:auto 1fr;
    grid-template-rows: repeat(4,90px);
    margin-top: 10rem;
    
}
.card_about{
    width: 30%;
    padding: 10px;
}
.contact-info{
    display: grid;
    justify-content: end;
    grid-template-rows: 50px 50px;
    padding-top: 100px;
}
.facebook,
.instagram,
.linkedin,
.github{
    color: white;
    text-decoration:solid;
    font-size: 15px;
    margin: 15px;
    
}
.about h2{
    display: flex; 
    justify-content: center; 
    margin-top: 10rem;
}

